@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@model  HandWork.Com.Model.Recruits.Recruit
 @using Newtonsoft.Json
@using HandWork.Com.Model.Weixins
@using HandWork.Com.Service.Relations
<link href="~/Content/css/Detail.css" rel="stylesheet" />
<div class="jobInfo">
    <div class="title">@Model.Title</div>
    <ul class="inportantInfo"><li>工资：@Model.Money</li> <li>地点：@Model.Location</li></ul>
    <div class="infoFoott"><span></span></div>
</div>
<div class="publishborder">
    @*<div class="col-xs-12 liborder">
            <ul class="list-unstyled ">
                <li class="imageCenter">
                </li>

                <li class="imageCenter">

                    <label class="fontcolortitle ">联系人：</label>
                    <label >陈先生</label>
                </li>


            </ul>

        </div>*@

    <ul class="list-unstyled col-xs-8">
        <li>
            发布者：@Model.Man
        </li>
        <li>
            结算方式：@if (Model.PayType==0)
                 {
                @: 日结
                 }
                 else if (Model.PayType==1)
                 {
                    @:周结
                 }
                     else if (Model.PayType == 2) {
                        @: 月结
                 }
                 else
                 {
                        @:其他
                 }
        </li>
        <li>
            兼职内容：@Model.Words
        </li>
        <li>需要人数：@Model.MaxNum 人</li>
        <li>发布日期：2014-12-05</li>

    </ul>
    <ul class="col-xs-4 getJobRight">
        @{

            if (Session["weixinUser"] != null)
            {
                WeixinUser weixinUser = JsonConvert.DeserializeObject<WeixinUser>(Session["weixinUser"].ToString());
                if (weixinUser.id == Model.WeixinUserId)
                {
                    <li><button disabled="disabled" class="btn btn-primary checkThisBtn">自己<br />发的</button></li>

                }

                 else   if (RelationService.IsAskFor(weixinUser.id, Model.Id))
                {
                    <li><button  disabled="disabled" class="btn btn-primary checkThisBtn">已经<br />申请</button></li>

                }

                else
                {
                    <li><button value="@Model.Id" class="btn btn-primary checkThisBtn" id="askForThisJob">立即<br />申请</button></li>
                }
            }
            //下面一个有可能不要用
            @*else
            {
                <li><button disabled="disabled" class="btn btn-primary checkThisBtn">请先<br />登录</button></li>

            }*@
        }
    
    </ul>
</div>
<div class="jobDetail">
    <div class="list-unstyled workpadding">
        <div>
            <p class="fontblack a  "><label><strong>工作详情</strong></label></p>
        </div>
        <div>
            <label for="work" class="fontblack">
                @Model.Note

            </label>
        </div>


    </div>
    <div class="otherInfo">
        <div>
            <p class="fontblack a  "><label><strong>工作日期</strong></label></p>
        </div>
        <div>
            <label for="work" class="fontblack">
                @Model.WorkDate

            </label>
        </div>
    </div>
    <div class="otherInfo">
        <div>
            <p class="fontblack a  "><label><strong>工作时间</strong></label></p>
        </div>
        <div>
            <label for="work" class="fontblack">
                @Model.WorkTime
            </label>
        </div>

    </div>
    <div class="otherInfo">
        <div>
            <p class="fontblack a  "><label><strong>工作要求</strong></label></p>
        </div>
        <div>
            <label for="work" class="fontblack">
                @if (Model.Sex==0)
	                {
                        @:女生
	                }
                 else if (Model.Sex==1)
	                {
                    @:男生
	                }
                else 
	                {
                    @:男女不限
	                },@Model.Requirement

            </label>
        </div>

    </div>


    <div class="navborder">


        <div class="col-xs-6 bottomnav bordermoddile">客服</div>
        <div class="col-xs-6 bottomnav">申请</div>

    </div>
    <div class="slide"></div>
</div>
<div>
    <a href="~/Homes/Home/Index"><img src="~/Content/image/home.png" class="Float-Png" /></a>
</div>
<script src="~/Content/js/askThisJob.js"></script>

