@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUserInfo.cshtml";
}

<form >
    <div class="submitlaeveanote">
  
        @Html.GuaGuo_InptTextWithTitle("Name", "姓名：", "圣上的大名")

        @Html.GuaGuo_InptTextWithTitle("SfzAccount", "身份证：", "身份证号")


        @Html.GuaGuo_InptTextWithTitle("Adress", "联系地址：", "家庭住址或者宿舍号哦")

        @Html.GuaGuo_InptTextWithTitle("test","测试：","dsfasdf","number")

        @Html.GuaGuo_PhoneNumberCheck()

        <div class="checkbox">
            <label>
                <input type="checkbox" class="notice"> 修改须知
            </label>
        </div>
        <button type="submit" class="btn btn-primary  remark">确定</button>
    </div>
</form>
