@{
    ViewBag.Title = "信息完善";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link href="~/Content/css/publish.css" rel="stylesheet" />
<div class="panelPadding">
    @model  HandWork.Com.Model.Users.User


    @if (Model != null)
    {
        using (@Html.BeginForm("sadf", "User", FormMethod.Post))
        {
            

                @Html.GuaGuo_InptTextWithTitle("Name", "姓名：", text: @Model.Name, attributes: new { disabled = "disabled" })

                @Html.GuaGuo_InptTextWithTitle("SfzAccount", "身份证：", text: @Model.SfzAccount, attributes: new { disabled = "disabled" })


                @Html.GuaGuo_InptTextWithTitle("Adress", "联系地址：", text: @Model.Adress, attributes: new { disabled = "disabled" })




                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="notice"> 修改须知
                    </label>
                </div>
                if (Model.Confirm == 0)
                {
                    <input id="form_submit" type="submit" disabled="disabled"  class="btn btn-primary  remark" value="已经上传" />
                }
            

        }


    }
    @*如果为空*@
    else
    {
        using (@Html.BeginForm("AddUser", "User", FormMethod.Post))
        {
            
            <div class="submitlaeveanote">



                @Html.GuaGuo_InptTextWithTitle("Name", "姓名：", placeholder: "圣上的大名")

                @Html.GuaGuo_InptTextWithTitle("SfzAccount", "身份证：", placeholder: "身份证号")


                @Html.GuaGuo_InptTextWithTitle("Adress", "联系地址：", placeholder: "家庭住址或者宿舍号哦")
                @Html.GuaGuo_PhoneNumberCheck()


                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="notice"> 须知
                    </label>
                </div>
                <input id="form_submit" type="button" class="btn  remark Button-Bottom " value="确定">
            </div>
        }
        @*<div class="weui_text_area">
        <h2 class="weui_msg_title">亲 我们只收集必要信息哦！</h2>
        <h2 class="weui_msg_title">(づ￣3￣)づ</h2>
        </div>*@


    }

</div>
<div>
    <a href=" ~/Homes/Home/Index"><img src="~/Content/image/home.png" class="Float-Png" /></a>
</div><script type="text/javascript" src="~/Content/js/personal.js"></script>
<script>
    $(function () {
        $("#form_submit").click(function () {

            $(this).parents("form").submit();
        });
    });



</script>