<div class=\"modal-footer\"><a  class=\"btn btn-default\" data-dismiss=\"modal\">关闭</a><a  class=\"btn btn-primary\"></a></div>
<link href="~/Content/css/publish.css" rel="stylesheet" />
<div class="adjust">
    @Html.GuaGuo_InptTextWithTitle("Title", "标题：", "圣上题字")
    @Html.GuaGuo_InptTextWithTitle("requirement", "工作要求：", "")
    @Html.GuaGuo_InptTextWithTitle("workTime", "工作时间/工资：", "")
    @Html.GuaGuo_InptTextWithTitle("PersonNumber", "所需人数：", "")
    @Html.GuaGuo_InptTextWithTitle("linkman", "联系人：", "")
    @Html.GuaGuo_InptTextWithTitle("Phone", "联系电话：", "")
<h2>Pulish</h2>
    </div>
</div>