@{
    ViewBag.Title = "Publish";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    $(Recruit_Submit).on("click", function () {
        var recruit={Name:this.Name,Classify:this.Classify,Confirm:this.Confirm,}

    })
</script>
<div class="adjust">
    <form typeof="submit" >
        @Html.GuaGuo_InptTextWithTitle("Title", "标题：","", "圣上题字")
        @Html.GuaGuo_InptTextWithTitle("WorkHour", "工作时间：", "", "常用9:00-17:00哦")
        @Html.GuaGuo_InptTextWithTitle("Money", "工作薪资：", "", "￥_￥")
        @Html.GuaGuo_InptTextWithTitle("Location","工作地点","南亚~爱情海~等等等")

        @Html.GuaGuo_InptTextWithTitle("WorkerNum", "所需人数：", "", "10人")
        @Html.GuaGuo_InptTextWithTitle("LinkPeople", "联系人：", "", "X先生/X女士")
        
        @*@Html.GuaGuo_InptTextWithTitle("Note", "工作要求：", "", "准时上班，接受公司安排，有集体荣誉感~等等等~~")*@
        @*@Html.GuaGuo_LableWithTitle("Note","工作要求")*@
        @*@Html.RadioButtonFor(,"MaritalStatus")*@
        @Html.GuaGuo_RadioButtonWithTitle("Sex","性别：","男","女")
        @*<div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>男
            </label>
        </div>
        <div class="radio">

            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">女
            </label>
        </div>*@
        @*<textarea id="Note"></textarea>*@
        @Html.GuaGuo_PhoneNumberCheck()
        @Html.GuaGuo_Button("Recruit_Submit", "点我发布")
        @Html.BeginForm("AddRecruit","RecruitController",FormMethod.Post)
    </form>
    

</div>